/* CommonButtons.css */
@import '../variables.css';

.window-close-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: white;
    color: var(--global-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.rainbow-button {
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    /* color: #535353; */
    border-radius: 5px;
    width: 36px;
    height: 36px;
    /* margin: 5px; */
}

.menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    color: #000;
}

.text-button {
    background-color: white;
    min-width: 60px;
    height: 36px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    align-items: center;
}

.text-button i {
    font-size: 1em;
    padding-right: 10px;
    /* color: #0365f7; */
    color:rgb(240, 55, 55);
}