.loading-page-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%; 
    height: 50vh;
  }

  .loading-page-container img {
    width: 80px;
    height: 80px;
  }


  