.movie-slider {
    position: relative;
    display: flex;
    align-items: center;
    /* height: 400px; */
  }
  
  .movie-slider-container {
    display: flex;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
    /* width: 80%; */
    /* margin: 0 auto; */
  }
  
  .nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1; /* 确保按钮在最上层 */
  }
  
  .nav-button:disabled {
    cursor: not-allowed;
    opacity: 0.8;
  }
  
  .nav-button:first-of-type {
    left: 10px; /* 调整按钮位置，使其一半在容器外 */
  }
  
  .nav-button:last-of-type {
    right: 10px; /* 调整按钮位置，使其一半在容器外 */
  }