@import '../variables.css';
.playlist-box {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--global-label-color);
}

.playlist-info {
    display:flex;
    flex-direction: column;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明背景 */
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.playlist-info  {
    margin: 0;
    /* font-size: 18px; */
}

.playlist-info .count {
    color: var(--global-label-color);
}