<!-- 背景设置成黑色 -->
 <!-- 居中显示 -->
<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <style>
      body {
        background-color: rgb(20, 17, 17);
        color: white;
        text-align: center;
      }
    </style>

    <h1>Home</h1>
    <p>Welcome to the home page!</p>
  </body>
</html>