@import './variables.css';

.ul-movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    /* align-self: center; */
}
.ul-movies li {
    margin: 10px;
    width: 200px;
    height: 300px;
    border-radius: 15px;
}

.ul-movies li img {
    width: 100%;
    height: 230px;
    object-fit: cover; /* 保持图片比例 */
    border-radius: 15px 15px 0 0; /* 圆角处理 */
}

.ul-movies li .movie-info {
    padding: 10px;
    text-align: center;
    /* background-color: rgb(31, 41, 55); */
    color: black;
    flex-grow: 1;
}

.ul-movies li .movie-info h2 {
    margin: 0;
    font-size: 16px;
}

.ul-movies li .movie-info p {
    margin: 5px 0 0;
    font-size: 14px;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 10px;
    padding: 5px 10px;
    border: none;
    background-color: var(--global-background-color-button);
    cursor: pointer;
    border-radius: 10px;
  }
  
  .pagination button.active {
    background-color: var(--global-background-color-button-active);
    border: none;
  }
  
  .pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  .pagination span {
    margin: 0 5px;
    padding: 5px 10px;
  }