@import './variables.css';

.custom-modal .modal-dialog {
  max-width: 500px;
  margin: 1rem auto;
  
}

.custom-modal .modal-content {
  background-color: var(--global-background-color);
  border-radius: 10px;
  padding: 20px;
  font-size: 1.2rem;
}

.custom-modal .modal-header {
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  padding:0 0 20px;
}

.custom-modal .modal-header button {
  background-color: transparent;
  border: none;
  color: var(--global-text-color);
  font-size: 1.5rem;
  cursor: pointer;
}



.custom-modal .modal-title {
  color: var(--global-text-color);
  font-size: large;
  /* flex:1; */
}

.custom-modal .modal-body {
  padding: 10px;
}

.custom-modal .modal-footer {
  border-top: none;
  justify-content: space-between;
  /* align-items: center; */
  padding:20px 0 0;
}