.play-list-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.play-list-panel {
    display: flex;
    flex-direction: column;
}

.play-list-panel h2 {
    text-align: left;
    margin-left: 60px;
    font-size: 1.5rem;
    color: var(--global-text-color);
}